<form [formGroup]="translationParams">

	<mat-form-field class="translation-content">
			<textarea formControlName="content"
					  placeholder="Content"
					  matInput
					  cdkTextareaAutosize
					  cdkAutosizeMinRows="1"
					  cdkAutosizeMaxRows="10"
					  required
			></textarea>
	</mat-form-field>

	<div class="buttons-row">
		<button class="button-spacer" mat-raised-button color="accent" type="button" [disabled]="!translationParams.valid" (click)="submitForm(translationParams)">
			{{formMode}}
		</button>
		<button class="button-spacer" mat-button color="warn" type="button" (click)="closeForm()">
			Cancel
		</button>
		<button mat-raised-button color="warn" type="button" (click)="clearForm()">
			Clear
		</button>
	</div>

</form>
